
/* Centre scolaire Saint-Exupéry
/* Made by Affinitic.be
/*
*/

a {
background-color:transparent;
color:#436976;
text-decoration:none;
}

a:hover{
text-decoration:underline;
color:#0085cd;
}

.grasrouge{
color:#a31b1b;
font-weight:bold;
}

.smallcaps{
font-variant:small-caps;
}


.vert-actif{
color:#00ff00;
text-shadow:1px 1px 1px rgba(0,50,0,0.5);
}

.rouge-non-actif{
color:#ff0000;
text-shadow:1px 1px 1px rgba(100,0,0,0.5);
}

.aligner-gauche{
text-align:left;
}

.aligner-droite{
text-align:right;
}


/*** VISUAL PORTER ***/
#visual-portal-wrapper{
background-color:#fff;
border:2px solid #ccc;
border-radius:12px;
box-shadow:8px 8px 8px rgba(0,0,0,0.5);
margin: 15px auto;
padding: 0;
width: 1000px;
}

/*** PORTAL HEADER ***/
#portal-header{
border-radius:10px 10px 0px 0px;
padding-top:10px;
background-color:#fff;
}


/*** COLONNE ***/
#portal-columns{
margin-bottom:10px;
}

#portal-column-one {
background-image:url(background.png);
border-collapse:collapse;
padding:0;
vertical-align:top;
width:200px;
}

#portal-column-one .visualPadding {
padding:2em 0 1em 5px;
}

#portal-column-two {
background-image:url(background.png);
border-collapse:collapse;
padding:0px 0px 0px 4px;
vertical-align:top;
width:150px;
}

#portal-column-two .visualPadding {
padding:2em 5px 1em 0;
}

#portal-column-content{
background-color:#fff;
}

/*** PORTLET ***/
.portlet {
width:95%;
margin:auto;
background-color:transparent;
border-bottom:none;
margin-bottom:1em;
}

.portletHeader {
border-top:1px solid #5fd2c7 !important;
border-left:1px solid #5fd2c7 !important;
border-right:1px solid #5fd2c7 !important;
border-bottom:1px solid #fff !important;
border-radius:8px 8px 0px 0px;
height:20px;
background:#eaf8fc;
}

.portletHeader, .managedPortlet .portletHeader {
}

.portletHeader a {
color:#333;
font-weight:bold;
font-variant:small-caps;
}

.portletHeader a:hover {
color:#000;
}

.portletItem {
background-color:#f9fbff;
border-left:1px solid #5fd2c7;
border-right:1px solid #5fd2c7;
margin:0;
padding:5px 5px;
}

.portletFooter {
border-top:1px solid rgba(200,200,200,0.1) !important;
border-left:1px solid #5fd2c7 !important;
border-right:1px solid #5fd2c7 !important;
border-bottom:1px solid #5fd2c7 !important;
border-radius:0px 0px 8px 8px;
height:17px;
background-color:#f9fbff;
margin-top:-4px;
}

.portletFooterEvents {
background-color:none;
background-image:url(bg_footer_portlet.png);
background-repeat:no-repeat;
background-position: 0px -45px;
border-left:none;
border-right:none;
border-bottom:none;
margin:0;
padding:0.25em 1em;
text-align:right;
border-left:none;
border-right:none;
border-top:1px dotted #8CACBB;
}

.navTreeItem a, dd.portletItem .navTreeItem a {
border-width:1px 1px 1px 1px;
border-style:solid solid dotted solid;
border-color:#fff #fff #ccc #fff;
display:block;
padding-bottom:0.3em;
padding-top:0.3em;
padding-left:3px;
text-decoration:none;
}

.navTreeItem a:hover,
dd.portletItem .navTreeItem a:hover,
.navTreeCurrentItem {
background-color:#DEE7EC;
color:#436976;
}

/***PORLET COLLECTION AGENDA***/
#agenda-footer{
width:187px;
margin-top:-6px;
margin-left:-8px;
}
.calendrier-footer{
text-align:left;
}

/*** CALENDAR ***/
.ploneCalendar {
border-bottom:1px solid #0075d2;
border-collapse:collapse;
border-spacing:0;
width:100%;
}



/*** SEARCH-BOX et PERSONAL-TOOLS ***/
/*** masquer le searchbox pour toutes les implatations non ISM ***/
div#portal-top div#portal-header div#portal-searchbox{
display:none;
}


/*** positionner correctement le personal-tools pour toutes les implantations non ISM ***/
div#portal-personaltools-wrapper dl#portal-personaltools.actionMenu.activated dd.actionMenuContent{
display:none;
position:absolute;
right:14px;
top:1.6em;
z-index:5;
height:auto;
width:140px;
margin:0;
text-align:center;
}

div#portal-personaltools-wrapper dl#portal-personaltools.actionMenu.activated dd.actionMenuContent ul{
background-color:rgba(222,231,236, 0.9) !important;
border-color:#8CACBB;
border-radius:0px 0px 8px 8px;
margin:0px;
}

div#portal-personaltools-wrapper dl#portal-personaltools.actionMenu.activated dd.actionMenuContent ul li a:hover{
background-color:rgba(4,135,189,0.6) !important;
}



/***HEADER BARRE NAVIGATION PLONE***/
#header-cesstex{
background-color:#a5d3ed;
}


#header-cesstex table{
width:100%;
background-color:#fff;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
border-spacing:0px;
padding:0px;
text-align:center;
}
#header-cesstex a{
text-decoration:none;
}

#small-logo{
width:209px;
border-right:4px solid #a6d2ed;
background-color:#fff;
text-align:center;
}


/*la louviere-manage*/
#site-ces{
}
#site a{
color:#2a84a6;
font-size:1.1em;
font-weight:bold;
text-transform:uppercase;
}
#site a:hover {
color:#14044e;
}
.puce-bleue{
margin-left:1.1em;
margin-right:1.1em;
margin-bottom:0.7;
}

/*centre scolaire*/
#ces{
text-align:right;
padding-right:1em;
display:block;
}
.centre{
color:#2b84a6;
}
.stex{
color:#0caeef;
}
#ces a{
font-size:2.3em;
text-decoration:none;
letter-spacing:0.3em;
}
#ces a:hover {
background-color:#efefff;
}


/*nom des ecoles*/
#implentation{
background-color:#fff;      /*#075a7c;*/
height:53px;
}
#implentation td{
background-image:url(menu_off.gif);
background-repeat:no-repeat;
background-position:center -7px;
}
#implentation td:hover {
background-image:url(menu_on.gif);
background-repeat:no-repeat;
background-position:center -7px;
}

.ecole{
padding:5px;
background-color:#075a7c;
font-weight:bold;
font-size:1.3em;
}
#implentation a{
color:#add2e1;
text-decoration:none;
}
#implentation a:hover {
color:#fff;
}

#enseignement{
font-weight:bold;
font-variant:small-caps;
font-size:1.2em;
}

#enseignement a{
color:#ddd;
}

#enseignement a:hover{
color:#fff;
text-decoration:underline;
}

#type-maternelle{
background-color:#0487bd;
}

#type-primaire{
background-color:#2d83a6;
}

#type-secondaire{
background-color:#0daff0;
}



/*** GALERIE ***/
div#plone-true-gallery {
background-color:transparent;
}

.jcarousel-skin-truegallery .jcarousel-container {
background:transparent;
border:1px solid #436976;
margin:auto;
}

div#plone-true-gallery div.info {
background-color:#DEE7EC;
border:1px dashed #436976;
margin:5px auto;ƒ
padding-bottom:5px;
text-align:center;
width:400px;
}



/*** KUPU ***/
.fond-jaune{
background-color:#f9f7c7;
}

.fond-bleu{
background-color:#dae4fa;
}

.fond-blanc{
background-color:#fff;
}


.plain{
width:95%;
}

.noir{
color:rgb(0,0,0);
}

.bleuA{
color:rgb(94,187,244);
}

.bleuB{
color:rgb(22,139,217);
}

.grisBleuC{
color:rgb(37,108,154);
}

.jauneD{
color:rgb(255,237,152);
}

.orangeE{
color:rgb(254,214,106);
}

.grisG{
color:rgb(155,155,155);
}

.grisH{
color:rgb(102,102,102);
}

.grisBleuI{
color:rgb(66,90,146);
}

.bleuClairJ{`
color:rgb(172,247,254);
}

.grisBleuK{
color:rgb(47,77,96);
}

#content a[href^="http:"],
#content a.link-external {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
padding:1px 0 1px 0px;
background-image:none;
}


/*** PORTLET IST ***/
#portlet-ist{
background-color:#DBF2FF;
border:1px solid #999; /*#0075d2;*/
padding:2px 0px 5px 0px;
margin-bottom:1.2em;
}

.portlet-header-ist{
font-weight:bold;
font-size:1.1em;
text-align:center;
}


/*** PORLET ISM ***/
.portletHeaderEspaceInteractif{
height:31px;
color:#333;
text-shadow:1px 1px 1px rgba(250,250,250,0.8);
text-align:right;
line-height:31px;
padding-right:10px;
font-variant:small-caps;
font-weight:bold;
border-top:1px solid #d5cc86;
border-left:1px solid #d5cc86;
border-right:1px solid #d5cc86;
border-radius:8px 8px 0px 0px;
background:#ffffb8;
}

#espace-interactif-ism,
div#portletItemGestionMembre{
font-family:"mondaregular";
font-size:12px;
font-weight:normal;
}

#espace-interactif-ism{
border-left:1px solid #d5cc86;
border-right:1px solid #d5cc86;
padding:8px 6px 12px 6px;
text-align:center;
background-color:#fffdf1;
}

.portletFooterEspaceInteractif{
border-left:1px solid #d5cc86;
border-right:1px solid #d5cc86;
border-bottom:1px solid #d5cc86;
border-radius:0px 0px 8px 8px;
margin:0;
padding:0.25em 1em;
text-align:right;
background:#fffdf1;
}

.texte-interactif{
font-size:1.2em;
color:#444;
}

div#portletHeaderGestionMembre{
height:31px;
color:#333;
text-shadow:1px 1px 1px rgba(250,250,250,0.8);
text-align:right;
line-height:31px;
padding-right:10px;
font-variant:small-caps;
font-weight:bold;
border-radius:8px 8px 0px 0px;
background: rgb(180,227,145);
}

div#portletItemGestionMembre{
background-color:rgba(232,255,225,0.5);
border-left:1px solid #b2d1ac;
border-right:1px solid #b2d1ac;
border-bottom:1px solid #b2d1ac;
border-radius:0px 0px 8px 8px;
padding:1em;
}

div#portletItemGestionMembre ul{
margin:0px;
}

/*** CALENDARX ***/
.calendarX-tabs{
font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
font-size:97%;
width:100%;
}

table.calheader {
background-color:#cde8fd;   /*#d4ffff;*/
border:1px solid #0487bd;
font-family:Verdana,Helvetica,Arial,sans-serif;
font-size:93%;
margin-bottom:0;
margin-top:0;
width:100%;
}

#calbody{
border:1px solid #0487bd;
}

#calenderX-left-column{
width:165px;
vertical-align:top;
text-align:left;
}

#calendarX-main-column{
vertical-align:top;
text-align:left;
width:83%;
}

#calendarX-titre-categorie{
background-color:#839db0;
text-align:center;
font-variant:small-caps;
font-weight:bold;
font-size:1.3em;
color:#fff;
border-bottom:1px solid #000;
}

#calendarx-liste-categorie{
border:solid 1px #B3CFD9;
background-color:#eef;
}



/*** ETAT DU WORKFLOW ***/
/*publié externe*/
.state-external {
color:#000000 !important; /*#436976*/
}

/*Attente modération*/
.state-pending {
color:#ff8300 !important;
}

/*publié interne*/
.state-internally_published {
color:#0000FF !important;
}

/*Brouillon interne*/
.state-internal {
color:#ff00aa !important;
}


.state-visible {
color:#0F741E !important;
}


.state-published {
color:#000 !important;
}


/*** Page Login ***/
#login-form {
margin:0 auto;
width:30em;
background-color:#fff;
}

/*** LISTING NEWS ISM ***/
.ism-event{
margin:10px 0px;
padding:3px;
border-spacing: 0px;
border-collapse: collapse;
width:100%;
background-color:#f6f6f8;
background-image:url(ismnews_fond.png);
}

.ism-event-header-left{
background-image:url(ismnews_border_left.png);
background-repeat:no-repeat;
background-position:left top;
width:20px;
height:60px;
}

.ism-event-header-center{
background-image:url(ismnews_border_center.png);
background-repeat:repeat-x;
}

.ism-event-header-right{
background-image:url(ismnews_border_right.png);
background-repeat:no-repeat;
background-position:right top;
width:46px;
}

.ism-event-title-content{
margin-top:-12px;
padding-left:20px;
}

.ism-event-content{
background-color:transparent;
}

.ism-event-title-link{
font-size:1.4em;
font-weight:bold;
text-align:left;
}
.ism-event-title-link a{
color:#7bcbc0;
}
.ism-event-title-link a:hover{
color:#3b8e85;
}

.ism-event-entete{
width:90%;
margin-left: 2em;
font-weight: bold;
}

.ism-event-info{
margin:15px 0px 5px 0px;
}

.ism-event-subject{
text-align:right;
font-size:0.8em;
color:#888;
}

.ism-event-rubrique{
font-size:1.2em;
font-variant:small-caps;
color:#5fb1a6;
}
.ism-event-description{
font-weight:bold;
}

.ism-event-footer-left{
height:26px;
background-image:url(ismnews_border_inf_left.png);
}

.ism-event-footer-center{
background-image:url(ismnews_border_inf_center.png);
}

.ism-event-footer-right{
background-image:url(ismnews_border_inf_right.png);
}

#ism-event-auteur{
float:left;
font-size:0.8em;
color:#999;
}
#ism-event-add-calendar{
float:right;
font-size:0.8em;
width:100px;
}



/**
.tileItem {
height:122px;
background-color:#ffffff;
background-image:url(cesstex_news.png);
background-repeat:no-repeat;
border:none;
margin-top:0.5em;
padding-top:10px;
padding-left:40px;
width:690px;
margin-left:auto;
margin-right:auto;
}

.tileHeadline {
font-size:1.5em;
font-weight:bold;
color:#fff;
}


.btn-news{
float:left;
width:32px;
height:32px;
background-image:url(btn_suivant.png);
margin-top:10px;
margin-right:10px;
}

.btn-news a{
width:32px;
height:32px;
display:block;
}

.btn-news:hover {
background-image:url(btn_suivant.png);
}
**/


/*** galerie picsengine ***/
#picsEngineGalerie{
width:100%;
height:625px;
border:none;
background-color:#000;
}




/*** LISTING NEWS IST ***/
.ist-event{
margin:10px 0px;
padding:3px;
border-spacing: 0px;
border-collapse: collapse;
width:100%;
background-color:#f6f6f8;
background-image:url(istnews_fond.png);
}

.ist-event-header-left{
background-image:url(istnews_border_left.png);
background-repeat:no-repeat;
background-position:left top;
width:20px;
height:60px;
}

.ist-event-header-center{
background-image:url(istnews_border_center.png);
background-repeat:repeat-x;
}

.ist-event-header-right{
background-image:url(istnews_border_right.png);
background-repeat:no-repeat;
background-position:right top;
width:46px;
}

.ist-event-title-content{
margin-top:-12px;
padding-left:20px;
}

.ist-event-content{
background-color:transparent;
}

.ist-event-title-link{
font-size:1.4em;
font-weight:bold;
text-align:left;
}
.ist-event-title-link a{
color:#7bcbc0;
}
.ist-event-title-link a:hover{
color:#3b8e85;
}

.ist-event-entete{
width:90%;
margin-left: 2em;
font-weight: bold;
}

.ist-event-info{
margin:15px 0px 5px 0px;
}

.ist-event-subject{
text-align:right;
font-size:0.8em;
color:#888;
}

.ist-event-rubrique{
font-size:0.9em;
font-variant:small-caps;
color:#5fb1a6;
}
.ist-event-description{
font-weight:bold;
}

.ist-event-footer-left{
height:26px;
background-image:url(istnews_border_inf_left.png);
}

.ist-event-footer-center{
background-image:url(istnews_border_inf_center.png);
}

.ist-event-footer-right{
background-image:url(istnews_border_inf_right.png);
}

#ist-event-auteur{
float:left;
font-size:0.8em;
color:#999;
}
#ist-event-add-calendar{
float:right;
font-size:0.8em;
width:100px;
}


/*** FORMULAIRE IST CONTACT ***/
#ist-form-contact{
margin-top:10px;
margin-left:2em;
}

#ist-form-contact div{
margin: 12px 0px;
}

#ist-form-contact label{
background-image:url(puce_bleue.gif);
background-repeat:no-repeat;
background-position:left center;
padding-left:10px;
color:#567184;
}


/*** BOUTON CSS3 ***/
.btn-ajouter-dossier-disciplinaire{
display:inline-block;
border:1px solid #DEDEDE;
border-radius:40px;
text-align:center;
height:40px;
padding:0px 12px !important;
line-height: 40px;

background: rgb(255,255,255) !important; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ) !important; /* IE6-9 */
}



div.print-this-button,
div.btn-retour-listing-dossier,
div.numero-evenement-acte{
float:right;
text-align:right;
margin:0px 0px 10px 0px;
width:25px;
height:20px;
padding:3px;
line-height:20px;
border:1px solid #dedede;
border-radius:8px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
text-align:center;
}

div#alerte-suppression{
border-radius:8px;
box-shadow:1px 1px 1px rgba(255,255,255,0.8),
           -1px -1px 1px rgba(0,65,67,0.4);
padding:0.8em;
margin-top:8px;
color:#fff;
font-weight:bold;

background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}




/*** ISM DOSSIER DISCIPLINAIRE ***/
div.btn-print-listing{
}

div.btn-print-listing div.btn-retour-listing-dossier{
float:left;
width:150px;
}

div.btn-print-listing div.print-this-button{
float:right;
width:50px;
}

div#suppression-document-attache table{
width:80%;
border:1px solid #DDD;
border-radius:3px;
}

div#suppression-document-attache input.bouton-supprimer{
border-radius:18px;
padding:0px 2px;
color:#555;
text-shadow:none;
box-shadow:none;
text-transform:none;
font-weight:normal;
border:1px solid #dedede;
border-radius:8px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}


/***  ISM ESPACE INTERACTIF ***/
.photoAlbumFolder {
background-image: none;
background-color:#fffdf1;
border:1px solid #d5cc86;
border-radius:3px 18px 3px 18px;
margin:8px;
box-shadow:2px 2px 4px rgba(50,50,50,0.5);
}

.photoAlbumEntry{
height:195px;
}

.espace-interactif-titre-album{
color:#5182bc;
font-variant:small-caps;
font-weight:bold;
font-size:1.2em;
}

.espace-interactif-nombre-element{
font-weight:bold;
}

h2.tileHeadline{
border-bottom: 1px solid rgba(213,204,134,0.2);
}

.tileHeadline a{
color:#5182bc !important;
font-size: 110%;
font-weight: bold;
}

.tileItem{
border: 1px solid #d5cc86;
border-radius:6px;
margin:10px;
padding:0.5em;
background-color:#fffdf1;
}

p.tileBody {
margin-bottom: 0.5em;
padding-left:1em;
}

p.tileFooter{
text-align:right;
font-size:0.8em;
}





