/*
/* Centre scolaire Saint-Exupéry
/* Made by Affinitic.be
/*
*/

body{
background-color:#fff;                /*#e7eaf8;*/
}

#header-cesstex{
background-color:#a5d3ed;
}

#header-cesstex table{
width:100%;
background-color:#fff;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
border-spacing:0px;
padding:0px;
text-align:center;
}
#header-cesstex a{
text-decoration:none;
}

#small-logo{
width:110px;
background-color:#a6d2ed;
text-align:left;
}


/*la louviere-manage*/
#site-ces{
}
#site a{
color:#2a84a6;
font-size:1.1em;
font-weight:bold;
text-transform:uppercase;
}
#site a:hover {
color:#14044e;
}
.puce-bleue{
margin-left:1.1em;
margin-right:1.1em;
margin-bottom:0.7;
}

/*centre scolaire*/
#ces{
text-align:right;
padding-right:1em;
display:block;
}
.centre{
color:#2b84a6;
}
.stex{
color:#0caeef;
}
#ces a{
font-size:2.3em;
text-decoration:none;
letter-spacing:0.3em;
}
#ces a:hover {
background-color:#efefff;
}


/*nom des ecoles*/
#implentation{
background-color:#fff;      /*#075a7c;*/
height:53px;
}
#implentation td{
background-image:url(menu_off.gif);
background-repeat:no-repeat;
background-position:center -7px;
}
#implentation td:hover {
background-image:url(menu_on.gif);
background-repeat:no-repeat;
background-position:center -7px;
}

.ecole{
padding:5px;
background-color:#075a7c;
font-weight:bold;
font-size:1.3em;
}
#implentation a{
color:#add2e1;
text-decoration:none;
}
#implentation a:hover {
color:#fff;
}


#enseignement{
font-weight:bold;
font-variant:small-caps;
font-size:1.2em;
}
#enseignement a{
color:#ddd;
}
#enseignement a:hover{
color:#fff;
text-decoration:underline;
}
#type-maternelle{
background-color:#0487bd;
}
#type-primaire{
background-color:#2d83a6;
}
#type-secondaire{
background-color:#0daff0;
}


/*** KUPU ***/
.fond-jaune{
background-color:#f9f7c7;
}

.fond-bleu{
background-color:#dae4fa;
}

.table-max{
width:95%;
margin:auto;
}