/*
  home_page
  masquer la barre de navigation sur la page d'accueil
*/
body{
background-image:url(background.png);
background-color:none;
}

.documentContent {
background-color:transparent;
font-size:110%;
padding:1em 1em 2em !important;
}

#header-cesstex{
display:none;
}

#portal-breadcrumbs{
display:none;
}

#portal-personaltools{
display:none;
}

#liens-texte{
width:85%;
margin:auto;
text-align:center;
margin-top:10px;
border:1px solid #ccc;
}

#liens-texte a{
color:#bbb;
}

#liens-texte a:hover{
color:#555;
}