/*
Centre scolaire Saint-Exupéry
Made by Affinitic.be

CSS PORTLET
*/


/*** GESTION DES PORTLETS DANS PLONE-CONTRL-PANEL ***/
div#portletmanager-plone-leftcolumn.portlets-manager{
padding-left:8px;
}

div#portletmanager-plone-leftcolumn.portlets-manager div.managedPortlet.portlet div.portletHeader span.managedPortletActions {
display: block;
float:right;
width: 200px;
}


div#portletmanager-plone-leftcolumn.portlets-manager div.managedPortlet.portlet div.portletHeader span.managedPortletActions form.portlet-action button{
float:right;
}

div#portletmanager-plone-leftcolumn.portlets-manager div.managedPortlet.portlet div.portletHeader{
height:40px;
}
/*div#portletmanager-plone-leftcolumn.portlets-manager form.portlet-action*/