/*
Centre scolaire Saint-Exupéry
Made by Affinitic.be

CSS PORTLET
*/


/*** GESTION DES PORTLETS DANS PLONE-CONTRL-PANEL ***/
div#portletmanager-plone-leftcolumn.portlets-manager{
padding-left:8px;
}

div#portletmanager-plone-leftcolumn.portlets-manager div.managedPortlet.portlet div.portletHeader span.managedPortletActions {
display: block;
float:right;
width: 200px;
}


div#portletmanager-plone-leftcolumn.portlets-manager div.managedPortlet.portlet div.portletHeader span.managedPortletActions form.portlet-action button{
float:right;
}

div#portletmanager-plone-leftcolumn.portlets-manager div.managedPortlet.portlet div.portletHeader{
height:40px;
}



/*** PORLET ISM ***/
dl.portletNavigationTree dt.portletHeader,
dl.portletCollection dt.portletHeader,
dl.QuickUploadPortlet dt.portletHeader,
.portletHeaderBrochureIsm,
.portletHeaderEspaceInteractif{
height:31px;
color:#333;
text-shadow:1px 1px 1px rgba(250,250,250,0.8);
text-align:right;
line-height:31px;
padding-right:10px;
font-variant:small-caps;
font-weight:bold;
border-radius:8px 8px 0px 0px;
}

dl.portletNavigationTree dt.portletHeader{
border-top:1px solid #20d4c8;
border-left:1px solid #20d4c8;
border-right:1px solid #20d4c8;
background:#e6f8fc;
}

dl.portletCollection dt.portletHeader{
border-top:1px solid #CC79B5 !important;
border-left:1px solid #CC79B5 !important;
border-right:1px solid #CC79B5 !important;
background:#E4A7D3;
}

dl.portletCollection dd.portletItem{
border-left:1px solid #CC79B5;
border-right:1px solid #CC79B5;
background:#FDF2FA;
}

dl.portletCollection dd.portletFooter{
border-bottom:1px solid #CC79B5 !important;
border-left:1px solid #CC79B5 !important;
border-right:1px solid #CC79B5 !important;
background:#FDF2FA;
}

/*** portlet gestionnaire de galerie quickuload ***/
dl.QuickUploadPortlet dt.portletHeader{
border-top:1px solid #955345 !important;
border-left:1px solid #955345 !important;
border-right:1px solid #955345 !important;
background:#eea391;
}

dl.QuickUploadPortlet dd.portletItem{
border-left:1px solid #955345;
border-right:1px solid #955345;
border-bottom:1px solid #955345;
border-radius:0px 0px 8px 8px;
background:#ffebd8;
}


/*** portlet brochure ism ***/
.portletHeaderBrochureIsm{
border-top:1px solid #498282;
border-left:1px solid #498282;
border-right:1px solid #498282;
background:#A9BDBD;
}

.portletContentBrochureIsm{
border-left:1px solid #498282;
border-right:1px solid #498282;
border-bottom:1px solid #498282;
border-radius:0px 0px 15px 15px;
text-align:center;
background-color:#D7DFDF;
}

.portletContentBrochureIsm a{
color:#0082b6;
}

.portletContentBrochureIsm a:hover{
color:#bb6600;
}

#wrapper-ism #main-content #left-column #portlet-ism-brochure{
}

#wrapper-ism #main-content #left-column #portlet-ism-brochure a{
text-decoration:none;
border-bottom:0px;
}

#wrapper-ism #main-content #left-column #portlet-ism-brochure #ism-couverture-brochure{
margin:0px 0px 8px 0px;
padding-top:6px;
}

#wrapper-ism #main-content #left-column #portlet-ism-brochure #ism-couverture-brochure img{
box-shadow:3px 3px 6px rgba(50,50,50,0.5);
}


.portletHeaderEspaceInteractif{
border-top:1px solid #d5cc86;
border-left:1px solid #d5cc86;
border-right:1px solid #d5cc86;
background:#ffffb8;
}

.portletHeaderEspaceInteractif a{
text-decoration:none;
color:#000;
}

.portletHeaderEspaceInteractif a:hover{
text-decoration:underline;
}

#espace-interactif-ism,
div#portletItemGestionMembre{
font-family:"mondaregular";
font-size:12px;
font-weight:normal;
}

#espace-interactif-ism{
border-left:1px solid #d5cc86;
border-right:1px solid #d5cc86;
padding:8px 6px 12px 6px;
text-align:center;
background-color:#fffdf1;
}

#espace-interactif-ism a:hover{
text-decoration:none;
}

.portletFooterEspaceInteractif{
border-left:1px solid #d5cc86;
border-right:1px solid #d5cc86;
border-bottom:1px solid #d5cc86;
border-radius:0px 0px 8px 8px;
margin:0;
padding:0.25em 1em;
text-align:right;
background:#fffdf1;
}

.texte-interactif{
font-size:1.2em;
color:#444;
}

/*** gestion des memebres ***/
div#portletHeaderGestionMembre{
height:31px;
color:#333;
text-shadow:1px 1px 1px rgba(250,250,250,0.8);
text-align:right;
line-height:31px;
padding-right:10px;
font-variant:small-caps;
font-weight:bold;
border-left:1px solid #b08276;
border-right:1px solid #b08276;
border-top:1px solid #b08276;
border-radius:8px 8px 0px 0px;
background: rgb(204,156,143);
}

div#portletItemGestionMembre{
background-color:rgba(255,236,222,1);
border-left:1px solid #b08276;
border-right:1px solid #b08276;
border-bottom:1px solid #b08276;
border-radius:0px 0px 8px 8px;
padding:1em;
}

div#portletItemGestionMembre h4{
font-size:1.05em;
color:#5f382e;
}


/*** dossiers partagés des profs ***/
div#portletHeaderDossierProf{
height:31px;
color:#333;
text-shadow:1px 1px 1px rgba(250,250,250,0.8);
text-align:right;
line-height:31px;
padding-right:10px;
font-variant:small-caps;
font-weight:bold;
border-radius:8px 8px 0px 0px;
background: rgb(180,227,145);
}

div#portletItemDossierProf{
background-color:rgba(232,255,225,0.5);
border-left:1px solid #b2d1ac;
border-right:1px solid #b2d1ac;
border-bottom:1px solid #b2d1ac;
border-radius:0px 0px 8px 8px;
padding:1em;
}

div#portletItemDossierProf ul{
margin-left:20px;
}

